.about-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 95%;
  font-size: 22px;
  color: #fff;
  margin: 3rem auto;
}

.about-overview {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
  justify-items: center; /* Add this line to center the grid items horizontally */
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center; /* Add this line to center the image vertically */
}

@media screen and (max-width: 960px) {
  .about-overview {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}