.about-container {
  display: block;
  width: 100%;
  font-size: 20px;
  color: #fff;
}

.about-overview {
  margin-top: 2rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 1rem;
}

.about-text-container {
  padding: 2rem;
}

.about-img-container {
  display: flex;
  justify-content: center;
}
