.about-container {
  display: flex;
  flex-direction: column;
  max-width: 1600px;
  width: 95%;
  font-size: 22px;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 0 auto 10rem auto;
}

.about-overview {
  margin-top: 4rem;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  column-gap: 3rem;
  justify-items: center; 
}

.about-img-container {
  display: flex;
  justify-content: center;
  align-items: center; 
  border-radius: 10px; 
  overflow: hidden;
}

@media screen and (max-width: 960px) {
  .about-overview {
    display: flex;
    flex-direction: column;
    row-gap: 3rem;
  }
}