.contact-header {
  text-align: center;
  margin: 4rem;
}

.contact-container {
  margin: 0 auto 8rem auto;
}

.contact-list-container {
  display: inline;
  align-items: center;
  justify-content: center;
}

.contact-list {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-item {
  display: inline;
}

.contact-item-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(24, 24, 24);
  border-radius: 8px;
  padding: 1.5rem;
  width: 20rem;
  color: white;
}

.contact-item-label{
  margin-top: 8px;
  font-size: 24px;
}

.contact-item-description{
  font-size: 18px;
}

.contact-item-link {
  margin-top: 8px;
  text-decoration: none;
  font-size: 20px;
  color: #1F65E1;
}

@media screen and (max-width: 1252px) {
  .contact-list{
    flex-direction: column;
    align-items: center;
  }
}